/* Tarjetas (Cards) */
.card { 
    background: var(--color-blanco); 
    padding: 15px; 
    border-radius: 6px; 
    margin-top: 15px; 
    box-shadow: 0 1px 3px rgba(0,0,0,0.1); 
}

/* Formularios - Responsabilidad Equipo 4 */
form { 
    display: flex; 
    flex-direction: column; 
    gap: 10px; 
}

input, select { 
    padding: 8px; 
    border: 1px solid var(--color-borde); 
    border-radius: 4px; 
    font-size: 14px; 
    width: 100%; 
    box-sizing: border-box; 
}

/* Botones */
button { 
    background: var(--color-principal); 
    color: var(--color-blanco); 
    border: none; 
    padding: 10px; 
    border-radius: 4px; 
    cursor: pointer; 
    font-weight: bold; 
}

button:hover { 
    background: var(--color-primario-oscuro); 
}

.btn-sm { 
    background: var(--color-secundario); 
    padding: 4px 8px; 
    font-size: 12px; 
}

/* Tablas y Badges de Estado */
table { 
    width: 100%; 
    border-collapse: collapse; 
    margin-top: 10px; 
}

th, td { 
    border-bottom: 1px solid #ddd; 
    padding: 8px; 
    text-align: left; 
    font-size: 14px; 
}

th { 
    background: #eee; 
    color: var(--color-secundario); 
}

.badge { 
    background: #ffe8cc; 
    color: #d67d3e; 
    padding: 3px 6px; 
    border-radius: 3px; 
    font-size: 12px; 
    font-weight: bold; 
}