/* Estructura general de la página */
body { 
    font-family: Arial, sans-serif; 
    background: var(--color-fondo); 
    margin: 0; 
    padding: 15px; 
    color: var(--color-texto); 
}

/* Cabecera y Menú Institucional */
header { 
    background: var(--color-primario-oscuro); 
    color: var(--color-blanco); 
    padding: 12px 20px; 
    border-radius: 6px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

nav a { 
    color: var(--color-blanco); 
    text-decoration: none; 
    margin-left: 15px; 
    font-size: 14px; 
}

nav a.active { 
    font-weight: bold; 
    text-decoration: underline; 
}