/* Paleta Institucional EscuelaTEC 2026 */
:root {
    --color-principal: #2496D8;
    --color-primario-oscuro: #1C78AD;
    --color-secundario: #4A6C82;
    
    /* Colores de Estado/Alerta */
    --color-exito: #2E8B57;
    --color-advertencia: #F4A261;
    --color-error: #C94C4C;

    /* Neutros */
    --color-fondo: #F8F9FA;
    --color-texto: #333333;
    --color-borde: #CCCCCC;
    --color-blanco: #FFFFFF;

    /* Tipografía */
    --fuente-principal: 'Poppins', sans-serif;
}