/* Paleta Institucional EscuelaTEC */
:root {
    --color-principal: #2496D8;
    --color-primario-oscuro: #1C78AD;
    --color-secundario: #4A6C82;
    --color-fondo: #f4f4f4;
    --color-blanco: #ffffff;
    --color-texto: #333333;
    --color-borde: #cccccc;
}